<% if(typeof data.message!='undefined' ){ %>
    <% data.message.map(i=>{ %>
        <span style="color:cornflowerblue ;">
            <%= i%>
        </span>
        <% }) %>
            <%}%>
                <div class="container bg-image">
                    <% if(typeof data.field!='undefined' ){ %>
                        <% data.field.map(i=>{ %>
                            <span style="color:cornflowerblue ;">
                                <%= i%>
                            </span>
                            <% }) %>
                                <%}%>
                                    <div class="row">
                                        <% if(typeof password!='undefined' ){ %>
                                            <% password.map(i=>{ %>
                                                <span style="color:cornflowerblue ;">
                                                    <%= i%>
                                                </span>
                                                <% }) %>
                                                    <%}%>

                                                        <form action="/changepassword" method="post">
                                                            <input type="password" name="password"
                                                                placeholder="Password">
                                                            <input type="password" name="confirmPassword"
                                                                placeholder="ConfirmPassword">
                                                            <button type="submit">ChangePAssword</button>
                                                        </form>