reset Your password
<p id="demo"></p>
<form method="post">
    <input type="password" name="password">
    <input type="password" name="ConfirmPassword">
    <button type="submit">submit</button>
</form>